wandb
outputs
/ignore
logs
__pycache__/
/halfcheetah_expert-v2.hdf5
/halfcheetah_medium_expert-v2.hdf5
/main_data.hdf5
*test*
*results*
*.ipynb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg